h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
}
td{
	overflow: hidden;
}
.logo a {width: 100%}
#editor{
	border: 1px solid #000;
}

.visualizacao-documento{
	margin-top: 80px;
}
.saudacao{
	text-transform: uppercase;
}
.processos-setor{
	margin-bottom:80px;
}
.info{
	margin:15px 0 40px;
}
.cabecalho-documento{margin-top: 10px}
#editor{
	margin-top: 30px;
	margin-bottom: 30px;
}
#novoDocumento,#tabelaDocumento,#enviarProcesso,.modal{
	margin-top: 100px;
}
#novoDocumentoBtn{
	margin-top: 15px;
}
.modal-backdrop{
	z-index: -1;
}
.tab-content{
	background: #fff;
}
.documentos-tab,.historico-tab{
	padding-top: 30px;
	padding-bottom: 30px;
}
.documentos-tab h3,.historico-tab h3{
	margin-bottom:15px;
}
.au-btn{
	margin: 5px 5px;
}

.topo-view{
	margin-bottom: 50px;
}
#form-processo,#form-documento{
	padding: 40px;
}
.menu-mobile{
	width: 100% !important;
	padding: 10px 15px;
}
@media (max-width: 576px) {
	.au-btn, .btn{
		width: 100%!important;
		text-align: center;
		margin-bottom: 5px;
	}

	.tabela-processos thead,.tabela-documentos thead,.tabela-historico thead{
		display: none;
	}

	.tabela-processos tr,.tabela-documentos tr,.tabela-historico tr{
		border-bottom: 2px #ccc dashed;
		padding: 40px 0;
	}

	.tabela-processos span,.tabela-documentos span,.tabela-historico span{
		text-transform: capitalize;
		font-weight: bold;
	}
}